.iframe
  width:1600px
  height:700px
  margin-bottom: 30px

.home
  background-color: #9FA8DA !important
  border-radius: 25px
  overflow: auto


.text
  padding-left: 10px
  padding-top: 10px
  padding-bottom: 10px
  text-align: left
  font-size: 10px
  color: black